* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Arial;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  --text-color: #414756;
  --elements-color: #a5abbd;
  --background-color: #e6f4f1;
}

body {
  background: var(--background-color);
}

/* Navbar styling */

nav {
  width: 100%;
  height: 80px;
  background: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: var(--text-color);
  left: 0;
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: var(--text-color);
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

.nav-bar ul li a:hover {
  color: var(--text-color);
  background: var(--elements-color);
}

.navbar ul li a.active {
  color: var(--text-color);
  background: var(--elements-color);
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: var(--text-color);
    margin: 6px 0;
  }

  .nav-bar {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: var(--background-color);
    transition: 0.5s;
    overflow: hidden;
  }

  .nav-bar.active {
    height: 500px;
    z-index: 10;
    transition: 2s;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul li a {
    margin-bottom: 12px;
    color: var(--text-color);
  }
}

/* End of header and navbar styling */

/* Start of main styling*/
main {
  padding: 50px 0px;
}

h1 {
  font-size: 35px;
}

.hero-text p {
  font-size: 20px;
}

.hero-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 50px;
}

.box {
  margin-top: 20px;
  position: relative;
  width: 350px;
  height: 350px;
  background: var(--text-color);
  border-radius: 50%;
  overflow: hidden;
}
.box::before {
  content: '';
  position: absolute;
  inset: -10px 140px;
  background: linear-gradient(315deg, #224bb1, #b6c3e4);
  transition: 0.7s;
  animation: animate 5s linear infinite;
}
.box:hover::before {
  inset: -20px 0px;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}
.box::after {
  content: '';
  position: absolute;
  inset: 6px;
  background: var(--elements-color);
  border-radius: 50%;
  z-index: 1;
}
.box .content {
  position: absolute;
  inset: 30px;
  border: 6px solid var(--text-color);
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box .content h2 {
  position: relative;
  font-size: 1.2em;
  text-align: center;
  color: var(--background-color);
  font-weight: 600;
  letter-spacing: 0.1em;
}
.box .content h2 span {
  font-weight: 200;
  font-size: 0.8em;
}
.content a {
  position: relative;
  margin-top: 10px;
  padding: 10px 20px;
  background: var(--background-color);
  color: var(--text-color);
  border-radius: 25px;
  font-weight: 800;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: 0.5s;
}
.box .content a:hover {
  letter-spacing: 0.2em;
  transition: 0.7s;
}
.box .content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}
.box:hover .content img {
  opacity: 0;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills p {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  font-size: 25px;
  border-bottom: 2px solid var(--text-color);
  width: 200px;
  margin-bottom: 20px;
}

.skills-list {
  display: flex;
  justify-content: center;
}

.skills-list li {
  background-color: var(--elements-color);
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 2rem;
}
/* End of main styling */

/* Section about styling */

.about .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
}

.side-img {
  width: 18rem;
  height: 13rem;
  border-radius: 10%;
}

.about-title {
  color: var(--text-color);
  padding: 20px 0px 0px 0px;
  font-size: 1.3rem;
}

.about-me-describe {
  padding: 20px 25px 0px 25px;
  font-size: 1.2rem;
}

/* End of section about styling */

#projects {
  height: 1350px;
}

.project-cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.project {
  background-color: var(--elements-color);
  border: 1px solid var(--text-color);
  width: 300px;
  height: 370px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project:hover {
  background-color: var(--background-color);
  transform: scale(1.05);
  transition: all 1s ease;
}

.project-image img {
  width: 17rem;
  height: auto;
  border-radius: 2%;
}

.project:hover .project-image {
  transform: translateY(-7px);
  transition: 1s;
}

.projects .container .content .projects-title {
  padding: 20px 0px;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--text-color);
}

h4 {
  color: var(--text-color);
  font-size: 1.2em;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-describe {
  padding: 25px 25px;
  font-size: 1rem;
  color: var(--text-color);
}

/* End of section about styling */

/* Section contact styling */

#contact {
  height: 500px;
}

.contact-title {
  padding: 20px 0px;
  font-size: 1.3rem;
  font-weight: 700;
  color: (var(--text-color));
}

.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.contact-box span {
  background-color: var(--elements-color);
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box span i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: var(--background-color);
}

.contact-box p {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  color: var(--text-color);
  font-weight: 700;
  font-size: 1.3em;
}

.contact-box a {
  color: var(--text-color);
}
/*End of section contact styling */

/* Footer styling */

/*End of footer styling */
